{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Todo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4" style="text-align: center">Todo App</h3>

							</div>
						</div>
						<div class="form-group">
							<a type="button"  href="{% url 'accounts:logout' %}">logout</a>
						</div>
						<form method="post" action="{% url 'tasks:create' %}" class="login-form">
							{% csrf_token %}
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-user"></span></div>
								<input type="text" name="title" class="form-control rounded-left" placeholder="title"
									required>
							</div>
							
							<div class="w-100 d-flex justify-content-end">
								<button type="submit" class="btn btn-primary rounded submit" value="Save">Add</button>
							</div>
							{% for task in tasks %}
							<div class="form-group">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-user"></span></div>
								<p class="form-control rounded-left">{{task.title}}</p>
								{% if task.complete == True %}
								<p>Done</p>
								{% else %}
								<li><a  href="{% url 'tasks:complete' task.id %}">Complete</a></li>
								{% endif %}
								<li><a type="button" href="{% url 'tasks:delete' task.id %}">Delete</a></li>
								<li><a href="{% url 'tasks:edit' task.id %}">Edit</a></li>
							</div>
							{% endfor %}

					</div>
					<div class="form-group mt-4">
						<div class="w-100 text-center">

						</div>
					</div>
					</form>





				</div>
				<div class="form-group mt-4">
					<div class="w-100 text-center">

					</div>
				</div>
				</form>
			</div>
		</div>
		</div>
		</div>

	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>